@model IEnumerable<InmobiliariaApp.Models.Propietario>

@{
    ViewData["Title"] = "Listar Propietarios";
}

<h1>Listar Propietarios</h1>

<p>
    <a asp-action="Insertar">Crear Nuevo Propietario</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>DNI</th>
            <th>Apellido</th>
            <th>Nombre</th>
            <th>Teléfono</th>
            <th>Email</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.IdPropietario</td>
                <td>@item.Dni</td>
                <td>@item.Apellido</td>
                <td>@item.Nombre</td>
                <td>@item.Telefono</td>
                <td>@item.Email</td>
                <td>
                    <a asp-action="Detalles" asp-route-id="@item.IdPropietario">Detalles</a> |
                    <a asp-action="Editar" asp-route-id="@item.IdPropietario">Editar</a> |
                    <a asp-action="Eliminar" asp-route-id="@item.IdPropietario">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>