@model IEnumerable<InmobiliariaApp.Models.Pago>

@{
    ViewData["Title"] = "Lista de Pagos";
}

<h1>Lista de Pagos</h1>

<p>
    <a asp-action="Crear" class="btn btn-success">Crear Nuevo Pago</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>ID Pago</th>
            <th>ID Contrato</th>
            <th>Fecha de Pago</th>
            <th>Importe</th>
            <th>Detalle</th>
            <th>Creado Por</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.IdPago</td>
                <td>@item.IdContrato</td>
                <td>@item.FechaPago.ToShortDateString()</td>
                <td>@item.Importe.ToString("C")</td>
                <td>@item.Detalle</td>
                <td>@item.CreadoPor</td>
                <td>
                    <a asp-action="Detalles" asp-route-id="@item.IdPago" class="btn btn-info">Detalles</a> |
                    <a asp-action="Editar" asp-route-id="@item.IdPago" class="btn btn-warning">Editar</a> |
                    <a asp-action="Eliminar" asp-route-id="@item.IdPago" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>