
@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">
        @ViewBag.ErrorMessage
    </div>
}

@model InmobiliariaApp.Models.Inmueble

@{
    ViewData["Title"] = "Eliminar Inmueble";
}

<h1>Eliminar Inmueble</h1>

<h3>¿Está seguro de que desea eliminar este inmueble?</h3>
<div>
    <h4>Inmueble</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">ID Inmueble</dt>
        <dd class="col-sm-10">@Model.IdInmueble</dd>

        <dt class="col-sm-2">Nombre Inmueble</dt>
        <dd class="col-sm-10">@Model.NombreInmueble</dd>

        <dt class="col-sm-2">Propietario</dt>
        <dd class="col-sm-10">@Model.Duenio!.NombreCompleto</dd>

        <dt class="col-sm-2">Dirección</dt>
        <dd class="col-sm-10">@Model.Direccion</dd>

        <dt class="col-sm-2">Uso</dt>
        <dd class="col-sm-10">@Model.Uso</dd>

        <dt class="col-sm-2">Precio</dt>
        <dd class="col-sm-10">@Model.Precio</dd>

        <dt class="col-sm-2">Estado</dt>
        <dd class="col-sm-10">@Model.Estado</dd>
    </dl>

    @if (Model.Activo == 1)
{
    <form asp-action="BajaLogica" method="post" style="display:inline;">
        <input type="hidden" name="id" value="@Model.IdInmueble" />
        <button type="submit" class="btn btn-danger">Eliminar</button>

        
    </form>
}
else
{
    <form asp-action="AltaLogica" method="post" style="display:inline;">
        <input type="hidden" name="id" value="@Model.IdInmueble" />
        <button type="submit" class="btn btn-success">Reactivar</button>
    </form>
}


    <a asp-action="Listar" class="btn btn-secondary">Volver a la Lista</a>
</div>
