@model IEnumerable<InmobiliariaApp.Models.Inmueble>

@{
    ViewData["Title"] = "Lista de Inmuebles";
    var rnd = new Random();
}

<h1>Lista de Inmuebles</h1>

<p>
    <a asp-action="Insertar" class="btn btn-success">Crear Nuevo Inmueble</a>
</p>

<form method="get" class="mb-4">
    <div class="row">
        <div class="col-md-2">
            <label>Estado</label>
            <select name="uso" class="form-control">
                <option value="">Todos</option>
                <option value="Comercial" selected="@(Context.Request.Query["uso"] == "Comercial")">Comercial
                </option>
                <option value="Residencial" selected="@(Context.Request.Query["uso"] == "Residencial")">Recidencial
                </option>
            </select>
        </div>

        <div class="col-md-2">
            <label>Ambientes</label>
            <select name="ambientes" class="form-control">
                <option value="">Todos</option>
                @for (int i = 1; i <= 5; i++)
                {
                    var selected = Context.Request.Query["ambientes"] == i.ToString() ? "selected" : "";
                    @:<option value="@i" @selected>@i</option>
                }
            </select>
        </div>


        <div class="col-md-2">
            <label>Precio Desde</label>
            <input type="number" name="precioDesde" value="@Context.Request.Query["precioDesde"]"
                class="form-control" />
        </div>

        <div class="col-md-2">
            <label>Precio Hasta</label>
            <input type="number" name="precioHasta" value="@Context.Request.Query["precioHasta"]"
                class="form-control" />
        </div>

        <div class="col-md-2">
            <label>Estado</label>
            <select name="estado" class="form-control">
                <option value="">Todos</option>
                <option value="Disponible" selected="@(Context.Request.Query["estado"] == "Disponible")">Disponible
                </option>
                <option value="Suspendido" selected="@(Context.Request.Query["estado"] == "Suspendido")">Suspendido
                </option>
                <option value="Ocupado" selected="@(Context.Request.Query["estado"] == "Ocupado")">Ocupado</option>
            </select>
        </div>

        <div class="col-md-2 d-flex align-items-end">
            <button type="submit" class="btn btn-primary w-100">Filtrar</button>
        </div>
    </div>
</form>


<table class="table">
    <thead>
        <tr>
            <th>Portada</th>
            <th>Nombre</th>
            @* <th>ID Inmueble</th> *@
            <th>Propietario</th>
            <th>Dirección</th>
            <th>Uso</th>
            <th>Ambientes</th>
            <th>Precio</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (!String.IsNullOrEmpty(item.Portada))
                    {
                        var x = item.Portada + "?" + rnd.Next();
                        <img width="38" src="@x" />
                    }
                    else
                    {
                        <i class="bi bi-house"></i>
                    }

                </td>
                @* <td>@item.IdInmueble</td> *@
                <td>@item.Nombre</td>
                <td>@item.Duenio?.NombreCompleto</td>
                <td>@item.Direccion</td>
                <td>@item.Uso</td>
                <td>@item.Ambientes</td>
                <td>@item.Precio.ToString("C")</td>
                <td>@item.Estado</td>
                <td>
                    <a asp-action="Imagenes" asp-route-id="@item.IdInmueble" class="btn btn-secondary">
                        <i class="fa-solid fa-images"></i>Imagenes
                    </a>
                    <a asp-action="Detalles" asp-route-id="@item.IdInmueble" class="btn btn-info">Detalles</a> |
                    <a asp-action="Editar" asp-route-id="@item.IdInmueble" class="btn btn-warning">Editar</a> |
                    @if (item.Activo == 1)
                    {
                        <a asp-action="Eliminar" asp-route-id="@item.IdInmueble" class="btn btn-danger">Eliminar</a>
                    }
                    else
                    {
                        <a asp-action="Eliminar" asp-route-id="@item.IdInmueble" class="btn btn-success">Reactivar</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>