@model IEnumerable<InmobiliariaApp.Models.Inmueble>

@{
    ViewData["Title"] = "Lista de Inmuebles";
	var rnd = new Random();
}

<h1>Lista de Inmuebles</h1>

<p>
    <a asp-action="Insertar" class="btn btn-success">Crear Nuevo Inmueble</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Portada</th>
            <th>ID Inmueble</th>
            <th>Propietario</th>
            <th>Dirección</th>
            <th>Uso</th>
            <th>Ambientes</th>
            <th>Precio</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
					@if (!String.IsNullOrEmpty(item.Portada))
					{
						var x = item.Portada + "?" + rnd.Next();
						<img width="32" src="@x" />
					}
					else
					{
						<span>Sin foto</span>
					}

				</td>
                <td>@item.IdInmueble</td>
                <td>@item.IdPropietario</td>
                <td>@item.Direccion</td>
                <td>@item.Uso</td>
                <td>@item.Ambientes</td>
                <td>@item.Precio.ToString("C")</td>
                <td>@item.Estado</td>
                <td>
                    <a asp-action="Detalles" asp-route-id="@item.IdInmueble" class="btn btn-info">Detalles</a> |
                    <a asp-action="Editar" asp-route-id="@item.IdInmueble" class="btn btn-warning">Editar</a> |
                    @if (item.Activo == 1)
                    {
                        <a asp-action="Eliminar" asp-route-id="@item.IdInmueble" class="btn btn-danger">Eliminar</a>
                    }
                    else
                    {
                        <a asp-action="Eliminar" asp-route-id="@item.IdInmueble" class="btn btn-success">Reactivar</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>