@model IEnumerable<InmobiliariaApp.Models.Contrato>


@* Si vengo con esta data muestro el modal *@
@if (TempData["SuccessMessage"] != null)
{
    <script>
        Swal.fire({
            icon: 'success',
            title: '¡Éxito!',
            text: 'submit operacion fue exitosa!',
            confirmButtonText: 'Cerrar',
            customClass: {
                popup: 'rounded shadow'
            }
        });

    </script>
}




@{
    ViewData["Title"] = "Lista de Contratos";
}

<h1>Lista de Contratos</h1>

<p>
    <a asp-action="Insertar" class="btn btn-success">Crear Nuevo Contrato</a>
</p>

<form method="get" class="mb-4">
    <div class="row">
        <div class="col-md-3">
            <label>Inquilino</label>
            <select name="idInquilino" class="form-control">
                <option value="">Todos</option>
                @foreach (var i in ViewBag.Inquilinos)
                {
                    <option value="@i.IdInquilino"
                        selected="@(Context.Request.Query["idInquilino"] == i.IdInquilino.ToString())">@i.Nombre @i.Apellido
                    </option>
                }
            </select>
        </div>
        <div class="col-md-3">
            <label>Inmueble</label>
            <select name="idInmueble" class="form-control">
                <option value="">Todos</option>
                @foreach (var i in ViewBag.Inmuebles)
                {
                    <option value="@i.IdInmueble"
                        selected="@(Context.Request.Query["idInmueble"] == i.IdInmueble.ToString())">@i.NombreInmueble
                    </option>
                }
            </select>
        </div>
        <div class="col-md-2">
            <label>Fecha Desde</label>
            <input type="date" name="fechaDesde" value="@Context.Request.Query["fechaDesde"]" class="form-control" />
        </div>
        <div class="col-md-2">
            <label>Fecha Hasta</label>
            <input type="date" name="fechaHasta" value="@Context.Request.Query["fechaHasta"]" class="form-control" />
        </div>
        <div class="col-md-2">
            <label>Monto Mayor a</label>
            <input type="number" name="montoDesde" value="@Context.Request.Query["montoDesde"]" class="form-control" />
        </div>
        <div class="col-md-2">
            <label>Monto Menor a</label>
            <input type="number" name="montoHasta" value="@Context.Request.Query["montoHasta"]" class="form-control" />
        </div>
        <div class="col-md-2">
            <label>Estado</label>
            <select name="estado" class="form-control">
                <option value="">Todos</option>
                <option value="vigente" selected="@(Context.Request.Query["estado"] == "vigente")">Vigente</option>
                <option value="terminado" selected="@(Context.Request.Query["estado"] == "terminado")">Terminado
                </option>
                <option value="finalizado" selected="@(Context.Request.Query["estado"] == "vigente")">Cancelado</option>
            </select>
        </div>
        <div class="col-md-2">
            <label>Vence en</label>
            <select name="venceEnDias" class="form-control">
                <option value="">Todos</option>
                <option value="30" selected="@(Context.Request.Query["venceEnDias"] == "30")">30 días</option>
                <option value="60" selected="@(Context.Request.Query["venceEnDias"] == "60")">60 días</option>
                <option value="90" selected="@(Context.Request.Query["venceEnDias"] == "90")">90 días</option>
            </select>
        </div>

        @* <div class="col-md-2">
            <label>Activo</label>
            <select name="activo" class="form-control">
                <option value="">Todos</option>
                <option value="1" selected="@(Context.Request.Query["activo"] == "1")">Activo</option>
                <option value="0" selected="@(Context.Request.Query["activo"] == "0")">Inactivo</option>
            </select>
        </div> *@
        <div class="col-md-2 d-flex align-items-end">
            <button type="submit" class="btn btn-primary w-100">Filtrar</button>
        </div>
        <div class="col-md-2 d-flex align-items-end">
            <a href="@Url.Action("Listar", "Contrato")" class="btn btn-secondary w-100">Limpiar Filtros</a>
        </div>

    </div>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID Contrato</th>
            <th>Inquilino</th>
            <th>Inmueble</th>
            <th>Fecha Inicio</th>
            <th>Fecha Fin</th>
            <th>Monto Mensual</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.IdContrato</td>
                <td>@item.Inquilino?.NombreCompleto</td>
                <td>@item.Inmueble?.NombreInmueble</td>
                <td>@item.FechaInicio.ToShortDateString()</td>
                <td>@item.FechaFin.ToShortDateString()</td>
                <td>@item.MontoMensual.ToString("C")</td>
                <td>@item.Estado</td>
                <td>
                    <a asp-action="Detalles" asp-route-id="@item.IdContrato" class="btn btn-info">Detalles</a> |
                    @* <a asp-action="Editar" asp-route-id="@item.IdContrato" class="btn btn-warning">Editar</a> | *@
                    @if (item.Estado == "vigente")
                    {
                        <a asp-action="Eliminar" asp-route-id="@item.IdContrato" class="btn btn-danger">Finalizar</a>
                    }
                    @* else
                    {
                        <a asp-action="Eliminar" asp-route-id="@item.IdContrato" class="btn btn-success">Reactivar</a>
                    } *@
                    <a asp-action="Renovar" asp-route-id="@item.IdContrato" class="btn btn-primary">Renovar</a>
                    <a asp-controller="Pago" asp-action="ListarDesde" asp-route-id="@item.IdContrato" class="btn btn-success">Ver Pagos</a>

                </td>
            </tr>
        }
    </tbody>
</table>